.chart {
    position: relative;
    z-index: 0;
    border: 5px;
    z-index:10;
}

.chart-rectangle {
    position: relative;
    cursor: pointer;
    width: 20px;
    z-index: 10;
    opacity: 1;
}

.chart-rectangle-tooltip {
    position: absolute;
    align-content: center;
    justify-items: center;
    opacity: 100%;
    transition: opacity 0.5s;
    z-index: 10;
}

.chart-rectangle:hover {
    opacity: 90%;
}

    .chart-rectangle:hover .chart-rectangle-tooltip {
        color: blue;
    }


.testClass {
    background-color: red;
    color: blue;
    font-weight: bold;
}

.svg-resize {
    flex: auto;
    position: relative;
}

.svg-resize-container {
    position:absolute;
    top:750px;
    bottom:10px;
    left:280px;
    right:10px;
    display: flex;
    min-width: 50px;
    min-height: 50px;
    max-width: 1500px;
    max-height: 1500px;
    z-index:0;
}

@media(max-width:1050px){
    .svg-resize-container {
        top: 750px;
        bottom: 10px;
        left: 180px;
        right: 10px;
    }
}
